# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# --------------------
# Secrets and credentials
# --------------------
pothole_project/firebase_key.json
*.pem
*.key
config.h
secrets.h
credentials.h

# --------------------
# PlatformIO
# --------------------
.pio/
.build/
libdeps/

# --------------------
# Compiled binaries
# --------------------
*.bin
*.elf
*.map

# --------------------
# Logs
# --------------------
*.log

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Temporary files
# --------------------
*.tmp
*.bak