# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Secrets
pothole_project/firebase_key.json
*.env
*.pem
*.key

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db